@model IEnumerable<ShoppingoO.Models.Page>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting" id ="pages">
    <thead>
        <tr class="home">
            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id= "id_@item.Id" class="@item.Slug">
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
        
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if(item.Slug!= "home")
                    {
                        <a  class="confirmDeletion"  asp-action="Delete" asp-route-id= "@item.Id" >Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
  

    <script   >
        $("table#pages tbody").sortable(
        {
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function(){

                let ids = $("table#pages tbody").sortable("serialize");
                let url =  "/admin/pages/reorder";

                $.post(url,ids,function(){});
            }

        })
    </script>
}
