@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

<h1 class = "display-4 pb-5" >All Products</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
           <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif" />
                <p class="lead alert alert-success text-center d-none">
                    The product has been added!
                </p>
            </div>
            <img src="lib/Media/Productimage/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"  data-id="@item.Id" class="btn btn-primary addToCart">Add to cart</a>
            </p>
        </div>
    }
    <div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages" page-target="/products" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
</div>
    </div>
    @section Scripts {
    <script type="text/javascript">
    $(function () {

        $("a.addToCart").click(function (e) {
            e.preventDefault();

            let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
            ajaxDiv.removeClass("d-none");
            let id = $(this).data("id");

            $.get('/cart/add/' + id, {}, function (data) {
                $("div.smallcart").html(data);
                ajaxDiv.find("img").addClass("d-none");
                ajaxDiv.find("p").removeClass("d-none");
                setTimeout(() => {
                    ajaxDiv.animate({ opacity: 0 }, function () {
                        $(this).addClass("d-none").fadeTo(.1, 1);
                        $(this).find("img").removeClass("d-none");
                        $(this).find("p").addClass("d-none");
                    });
                });
            });
        });

    });
</script>
}